.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    content: "/";
}

.breadcrumb-item a {
    text-decoration: none;
    color: #323232;
}
.breadcrumb-item a:hover {
    text-decoration: underline;
}