.product-definition-detail-card {
  width: 230px;
  min-height: 320px;
  margin: 15px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-definition-detail-card img {
  width: 150px;
}

.product-definition-detail-card .model {
  width: 100%;
  font-weight: 500;
  color: #535353;
  padding: 5px;
}

.product-definition-detail-card .price {
  height: 30px;
  width: 100%;
  font-weight: 500;
}

.product-definition-detail-card .brand {
  height: 25px;
  width: 100%;
  font-weight: 100;
  color: #999;
}