.ecommerce-product-detail-link a {
  background-color: lightblue;
  padding: 5px 25px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  opacity: 0.75;
  color: #333;
}

.ecommerce-product-detail-link a:hover {
  opacity: 1;
}