.product-definition-search {
  margin: 5px;
  width: 90%;
  background: #eee;
  border: none;
  border-radius: 5px;
  padding: 5px 25px;
  font-size: 14px;
}

.product-definition-search:focus-visible {
  outline: 1px solid #333;
}