.product-definition-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


@media (max-width: 568px) {
  .product-definition-list-container {
    justify-content: center;
  }
}