header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100vw;
    background-color: #f6f6f6;
    border-bottom: 1px solid #ddd;
}

header #logo {
    width: 180px;
    padding: 0 50px;
}

header .right-zone {
    display: flex;
    align-items: center;
}

header .breadcrumb-container {
    padding: 0 25px;
}

header .custom-component-container {
    min-width: 50px;
}