#eccomerce-detail-page-container .top-bar {
    height: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
#eccomerce-detail-page-container .top-bar button{
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none; 
    color: #333;
    width: 100%;
    font-size: 14px;
    border: none;
    text-align: start;
}

#eccomerce-detail-page-container .detail {
    max-height: calc(100vh - 71px - 51px);
    overflow: auto;
}