.shopping-bag {
display: flex;
}

.shopping-bag .bag-size{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #323232;
    color: white;
    text-align: center;
    position: relative;
    right: 20px;
    top: 30px;
}