.product-definition-detail-component {
    display: flex;
    justify-content: space-around;
    min-height: 450px;
    padding: 25px 0;
}

.product-definition-detail-component .image {
    align-self: center;
}

.product-definition-detail-component dd {
    margin: 0;
    font-weight: 500;
}

.product-definition-detail-component dt {
    font-weight: 100;
}