.product-instance-form-component .form-group {
    padding-bottom: 16px;
}

.product-instance-form-component label {
    font-weight: 100;
}

.product-instance-form-component input[type=text],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-top: 6px;
}

.product-instance-form-component .input-feedback {
    font-size: 14px;
    color: red;
}

.product-instance-form-component button[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
}

.product-instance-form-component button[type=submit]:hover {
    background-color: #45a049;
}

.product-instance-form-component button[type=submit]:disabled {
    background-color: #ddd;
}