#eccomerce-main-page-container {
    max-height: calc(100vh - 71px);
    overflow: auto;
}

@media (min-width: 1200px) {
    #eccomerce-main-page-container {
        margin: auto;
        max-width: 1100px;
    }
}

@media (max-width: 1200px) {
    #eccomerce-main-page-container {
        max-width: 100%;
    }
}