#eccomerce-list-page-container .search {
    height: 50px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

#eccomerce-list-page-container .list {
    max-height: calc(100vh - 71px - 71px);
    overflow: auto;
}